
  
  
  .tabla{
    border-collapse: collapse;
    border-radius: 15px;
    border: 2px red;
    padding: 5px;
  }

.tabla td{
  padding: 7px;
}

  td {
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 10px;
  }

  .descripcionTd{
    width: 180px;
    min-width: 180px !important;
    max-width: 180px !important;
  }
  .estadoTd{
    width: 25px;
    min-width: 25px !important;
    max-width: 25px !important;
  }
  .fechaTd{
    width: 90px;
    min-width: 90px !important;
    max-width: 90px !important;
  }
  .lugarTd{
    width: 150px;
    min-width: 150px !important;
    max-width: 150px !important;
  }
  .posibleArregloTd{
    width: 200px;
    min-width: 200px !important;
    min-width: 200px !important;
  }
  .estadoTd{
    width: 110px;
    min-width: 110px !important;
    max-width: 110px !important;
  }
