<div class="container">
  <h1>Listado de incidencias</h1><br>

  <div class="form-group">
    <label for="filtroRevisada">Filtrar por estado de revisión:</label>
    <select class="form-select" id="filtroRevisada" [(ngModel)]="filtroRevisada" (change)="actualizarFiltro()" style="width: 300px;">
      <option value="todos">Todas las incidencias</option>
      <option value="revisada">Inicidencias revisadas</option>
      <option value="no-revisada">Incidencias no revisadas</option>
    </select>
  </div><br>

  <div class="card">
    <div class="card-body">

      


      <table>
        <tr>
          <th class="descripcionTd" scope="col">Descripción</th>
          <th class="estadoTd" scope="col">Estado</th>
          <th class="fechaTd" scope="col">Fecha</th>
          <th class="lugarTd" scope="col">Lugar</th>
          <th class="posibleArregloTd" scope="col">Posible arreglo</th>
          <th scope="col">Actualizar estado</th>
        </tr>

        <tr *ngFor="let incidencia of IncidenciasFiltradas">
          <td class="descripcionTd">{{incidencia.descripcion}}</td>
          <td class="estadoTd">{{incidencia.estado}}</td>
          <td class="fechaTd">{{incidencia.fecha}}</td>
          <td class="lugarTd">{{incidencia.lugar}}</td>
          <td class="posibleArregloTd">{{incidencia.posible_arreglo}}</td>
          <td>
            <button routerLink="/checkEdit/{{incidencia.id}}" class="btn btn-outline-secondary">Establecer revisión</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  
</div>