
<div class="container pt-4 pb-4 ">
    <div class="d-grip gap-2-mt-4 mb-3">
        <a routerLink="/create" class="btn btn-primary" type="button">Añadir nuevo Incidencia</a>
      </div>

    <table class="table">
        <thead class="thead-primary text-white" style="background-color: #0d6efd;">
          <tr>
            <th scope="col">Descripción</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha</th>
            <th scope="col">Lugar</th>
            <th scope="col">Posible arreglo</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>


        <tbody>
          <tr *ngFor = "let incidencia of Incidencias" style="background-color: rgb(245, 245, 245);" >
            <td>{{incidencia.descripcion}}</td>
            <td>{{incidencia.estado}}</td>
            <td>{{incidencia.fecha}}</td>
            <td>{{incidencia.lugar}}</td>
            <td>{{incidencia.posible_arreglo}}</td>

            <td>
                <button routerLink="/edit/{{incidencia.id}}" class="btn btn-outline-secondary">Editar</button>
                <a>&nbsp;</a>
                <button (click)="deleteRow(incidencia)" class="btn btn-outline-danger">Eliminar</button>

            </td>
          </tr>
        </tbody>

        
      </table>

</div>