<div class="container pt-4 pb-4 ">
    
   
    <h3>Información de la incidencia</h3>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="mb-3">
            <label class="form-label">Fecha de la incidencia</label>
            <input formControlName="fecha" type="date" class="form-control" required="">
        </div>

        <div class="mb-3">
            <label class="form-label">Descripción</label>
            <textarea name="mitextarea" id="mitextarea" cols="40" rows="5" style="resize: none;"
            formControlName="descripcion" class="form-control"  placeholder="Descripción de la incidencia..."  type="text">
            </textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Lugar</label>
            <input formControlName="lugar" type="text" class="form-control" required="">
        </div>

        <div class="mb-3">
            <label class="form-label">Posible Arreglo</label>
            <input  formControlName="posible_arreglo" type="text" class="form-control" required="" >
        </div>
        
        <div class="mb-3">
            <label class="form-label">Seleccione un nuevo estado para actualizar la incidencia:</label>         
            <select formControlName="estado" class="form-control"  placeholder="Estado"  type="text">
                <option value="Leido">Leido</option>
                <option value="Asignado">Asignado</option>
                <option value="Comenzado">Comenzado</option>
                <option value="Terminado">Terminado</option>
            </select>
        </div><br>
    </form>


    <div class="card">
        <div class="card-header">
            <h3>Revisión de la incidencia </h3>
        </div>
        <div class="card-body">
            
            <form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" formControlName="revisada">
                    <label class="form-check-label">Marcar esta casilla para indicar que esta incidencia está revisada</label>
                  </div><br>
                  <button [disabled]="!editForm.valid" type="submit" class="btn btn-primary">Actualizar revisión</button>
            </form>

        </div>
      </div>

    


</div>